[Desktop Entry]
Type=Application
Name=logulator
Comment=A cross-platform serial log viewer and analyzer.
Exec=logulator
Icon=logulator
StartupWMClass=logulator
Categories=Development;
Terminal=false
